<div class="cl-padding-10">
  <p style="color:red;">App Component: template text should be red</p>

  <button type="button" class="btn btn-primary" (click)="onClick()">{{clickMeText}}</button>
  <br />
  -------------------------------------
  <br />

  <ng-container *ngIf="!showCustom">
    <app-wf-section [webFormSectionData]='webFormSectionDataDefault' [defaultSection]="true"></app-wf-section>
  </ng-container>

  <ng-container *ngIf="showCustom">
    <app-wf-section [webFormSectionData]='webFormSectionDataCustom' [defaultSection]="false"></app-wf-section>
  </ng-container>


  <router-outlet></router-outlet>
</div>

