<p>{{displayString}}</p>
<p style="color:red;">Section Component: template text should be red</p>
<p>last component to change value has a new value of: {{latestComponentValue}}</p>
<br/>
<br/>
<div *ngIf="defaultSection">
  <ng-container *ngFor="let componentData of webFormSectionData.components;let i = index;">
    <ng-container [ngSwitch]="componentData.type">
      <ng-container *ngSwitchCase="1">
        <!--label-->
        <app-wf-label [webFormSectionData]='webFormSectionData' [componentData]='componentData'></app-wf-label>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <!--link-->
        <app-wf-link [webFormSectionData]='webFormSectionData' [componentData]='componentData'></app-wf-link>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <!--numeric-->
        <app-wf-numeric-textbox [webFormSectionData]='webFormSectionData' [componentData]='componentData' (isComponentValid)="isComponentValidHandler($event)"></app-wf-numeric-textbox>
      </ng-container>
      <ng-container *ngSwitchCase="4">
        <!--datepicker-->
        <app-wf-datepicker [webFormSectionData]='webFormSectionData' [componentData]='componentData' (isComponentValid)="isComponentValidHandler($event)"></app-wf-datepicker>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<div *ngIf="!defaultSection">
  <ngx-dynamic-hooks [content]="webFormSectionData.layout" [context]="contextObj"></ngx-dynamic-hooks>
</div>
